ion-toolbar {
    background-color: purple;
}

.confirm-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container {
    top: 8rem;
    font-size: 20px;
    text-align: center;
}