ion-content {
  --background: rgb(255, 255, 255);
}

ion-title {
  color: rgb(255, 255, 255);
  text-align: center;
}

ion-toolbar {
    display: flex;
    justify-content: center;
    background-color: #645bff;
    height: 10rem;
}

.book-btn, .prebook-btn {
  --primary-color: #645bff;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

.book-btn:hover, .prebook-btn:hover {
  background-color: var(--hover-color);
}

.book-btn, .prebook-btn {
  margin-top: 2rem;
}

